body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background: #44A08D;  
background: #000428; 
background: -webkit-linear-gradient(to right, #004e92, #000428);  
background: linear-gradient(to right, #004e92, #000428); 
}

.button-container {
text-align: center;
}

.button {
display: inline-block;
padding: 10px 20px;
font-size: 3em;
border: none;
cursor: pointer;
text-align: center;
text-decoration: none;
border-radius: 5px;
}

.button:hover {
color: white;
background-color: black;
transition: 0.3s;
}
